<div ng-controller="DeliveryController as confirmCtrl">
	<h4>Step 2 / 選擇遞送方式</h4>
	<form name="DeliveryForm" class="form" novalidate ng-submit="DeliveryForm.$valid && submitForm()">
		<fieldset class="form-group" ng-class="{'has-danger':DeliveryForm.bygroup.$invalid&&DeliveryForm.name.$touched}">
			<label class=" form-control-label">交貨方式</label>
			<label class="radio-inline"><input type="radio" name="bygroup" ng-model="user.by" value="facetoface" required>面交</label>
			<label class="radio-inline"><input type="radio" name="bygroup" ng-model="user.by" value="shipping" required>郵寄 (郵資150)</label>
		</fieldset>

		<fieldset class="form-group"  ng-class="{'has-danger':DeliveryForm.name.$invalid&&DeliveryForm.name.$touched, 'has-success':DeliveryForm.name.$valid}">
			<div class="form-control-label"><label>購買人姓名</label></div>
			<input type="text" name="name" class="form-control" ng-model="user.name" placeholder="姓名" required>
		</fieldset>

		<fieldset class="form-group"  ng-class="{'has-danger':DeliveryForm.phone.$invalid&&DeliveryForm.phone.$touched, 'has-success':DeliveryForm.phone.$valid}">
			<div class=" form-control-label"><label>購買人電話</label></div>
			<input type="tel" name="phone" class="form-control" ng-model="user.phone" placeholder="電話" required>
		</fieldset>

		<fieldset class="form-group " ng-class="{'has-danger':DeliveryForm.email.$invalid&&DeliveryForm.email.$touched, 'has-success':DeliveryForm.email.$valid}">
			<div class="form-control-label"><label>購買人信箱</label></div>
			<input type="email" name="email" class="form-control" ng-model="user.email" placeholder="email" required>
		</fieldset>

		<div ng-show="user.by == 'shipping'">
			<fieldset class="form-group	" ng-class="{'has-danger':DeliveryForm.shipname.$invalid&&DeliveryForm.shipname.$touched, 'has-success':DeliveryForm.shipname.$valid}">
				<div class=" form-control-label"><label>收件人姓名</label></div>
				<input type="text" name="shipname" class="form-control" ng-model="user.ship.name" ng-required="user.by == 'shipping'">
			</fieldset>

			<fieldset class="form-group " ng-class="{'has-danger':DeliveryForm.shipphone.$invalid&&DeliveryForm.shipphone.$touched, 'has-success':DeliveryForm.shipphone.$valid}">
				<div class=" form-control-label"><label>收件人電話</label></div>
				<input type="text" name="shipphone" class="form-control" ng-model="user.ship.phone" ng-required="user.by == 'shipping'">
			</fieldset>

			<fieldset class="form-group" ng-class="{'has-danger':DeliveryForm.shipaddress.$invalid&&DeliveryForm.shipaddress.$touched, 'has-success':DeliveryForm.shipaddress.$valid}">
				<div class="form-control-label"><label>收件地址</label></div>
				<input type="text" name="shipaddress" class="form-control" ng-model="user.ship.address" ng-required="user.by == 'shipping'">
			</fieldset>
		</div>

		<div class="">
			<a ng-href="#/step1"><button type="button" class="btn btn-primary">Back</button></a>
			<button type="submit" class="btn btn-primary">Next</button>
		</div>

		<div class="clearfix"></div>
	</form>
	<br><div class="alert alert-danger" role="alert" ng-show="DeliveryForm.$invalid && DeliveryForm.$submitted">
	  請填寫完整表單。
	</div>


	<!-- <input type="text" ng-model="total" name="" value="" placeholder="">
</div>