<div class="row">
	<div class="col-md-12">
		<h4>Step 1 / 選擇商品</h4>
		<form name="itemForm" novalidate ng-submit="itemForm.$valid && checkValid()">
			<ng-form name="urlForm"  ng-repeat="(index,item) in items" >
				<div class="form-group" 
					ng-class="{
					 	'has-danger':urlForm.key.$invalid,
					 	'has-success':urlForm.key.$valid && urlForm.key.$touched,
					}"
				>
					<label class="form-control-label">{{item.name}}</label>
					<input type="number" name="key" class="form-control" ng-model="item.num" required>
				</div>
			</ng-form>
			<button type="submit" class="btn btn-primary">Next</button>
		</form>
		<br>
		<div class="alert alert-danger hidden-xs-up" role="alert">
			請至少選擇一項商品。
		</div>
	</div>
</div>